html {
  color: #fff;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;

  background: radial-gradient(50% 50% at 50% 50%, #151616 0%, #0B1023 100%), #FFFFFF;
}

main {
  font-family: "Montserrat";
  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 300px;
}

.card {
  display: flex;
}

.about {
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 500px;
}

.image {
  flex: 1;
  align-items: center;
  justify-content: center;
  flex: 1;
  display: flex;
}

.name {
  font-weight: 600;
  font-size: 50px;
  line-height: 61px;
}

.paragraph {
  font-size: 30px;
  line-height: 37px;
}

.link {
  color: #2BA7F3;
}

.rails {
  color: #EA3E3E;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 800px) {
  .about {
    align-items: center;
    justify-content: center;
    margin-left: 70px;
  }
  .card {
    flex-direction: column;
  }

}
